.card-cursos {
    border: none;
    border-radius: none;
    background-color: $backgroundcard;
    padding: 30px;
    margin: 50px;
    .container-card {
        color: #ffffff;
        .card mb-3 {
            padding-top: 30px;
            border-radius: none;
          }

      }
  }
  
  
  
  