.bi {
    font-size: 30px;
    .bi-youtube {
        color: red;
        .bi-instagram {
            color: rgb(239, 165, 81);
            .bi-facebook {
                color: blue;
                .bi-whatsapp {
                    color: green;
                }
            }
          
          }
      }
      

  }